img {
    border-radius: 75px;
}

h2 {
    font-size: 18;
}

body {
    background-color: slateblue;
    color: white;
    font-family: "Treduchet MS";
    text-align: center;
}

a {
    background-color: white;
    font-size: 20px;
    border-radius: 20px;
    padding: 10px;
    
    display: block;
    text-align: center;
    margin: 10px;
    color: slateblue;

}