body {
    background-image: url(/home/davi/Imagens/Capas/Smiling_Friends_Inc..webp);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed ;
    background-size: cover;

}