h1{
    text-shadow: 3px 1px 5px rgb(231, 54, 0), -3px -3px 5px rgb(141, 33, 241)  ;
}

#box1{
    width: 100px;
    height: 100px;
    background-color: rgb(107, 170, 224);
    box-shadow: 3px 3px 5px;

}