.headline {
    background-color: rgb(150, 10, 52);
    padding: 10px;
}

.headline-2 {
    background-color: rgb(227, 230, 95);
    padding: 10px;
}

.throne-successor {
    color: gold;
   
}

.calabresa-successor {
    color: rgb(255, 217, 0);
}

.frango-successor {
    color: gold;
}

.camarao-successor {
    color: gold;
}

.bacon-successor {
    color: gold;
}

div {
    border: solid 3px green;
    color: rgb(248, 26, 81);
    font-weight: bold;
}